@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import url(//db.onlinewebfonts.com/c/254a19e1da9b39fd844eee0848b0cbce?family=Orator+Std);
// Colors
$main_black: #292b2e;
$secondary_black: #1d1e20;
$white_color: #fff;

// Body
body {
    font-family: 'Orator Std', sans-serif !important;
    background: $main_black;
}

.row {
    width: 100%;
    max-width: 100%;
}

// Utilities
.bg-custom-dark {
    background: $main-black;
}

.text-custom-dark {
    color: $main-black;
}

.ptb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.pb-100 {
    padding-bottom: 100px!important;
}
.pt-50 {
    padding-top: 50px!important;
}
.btn-black {
    background: $main_black;
    color: $white_color;
    padding: 10px 20px !important;
    font-size: 1.2rem !important;
    transform: scale(1);
    transition: .2s ease-in;
}

.btn-black:hover {
    transform: scale(.95);
    color: $white_color;
}

.btn-white {
    background: $white_color;
    color: $main_black;
    padding: 10px 20px !important;
    font-size: 1.2rem !important;
    transform: scale(1);
    transition: .2s ease-in;
}

.btn-white:hover {
    transform: scale(.95);
    color: $main_black;
}

.btn-primary {
    background: $main_black!important;
    color: $white_color!important;
    border: 0px !important;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;

    &:hover {
        background: $secondary_black!important;
    }
    &:focus {
        outline: none!important;
        box-shadow: none!important;
    }
}

// Navbar
.navbar {
    background: $main_black !important;
    padding: 20px 20px;
    color: $white_color!important;
    transition: .2s;

    h3 {
        color: $white_color;
    }
    &.is-sticky {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, .2);
        padding: 10px 20px;
    }

    .navbar-toggler {
        border: 0px !important;
        transition: .2s ease-in;

        &.active {
            border: 0px;
            outline: 0px;
            transform: rotate(135deg);
        }

        &:focus {
            outline: 0px;
        }
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIGNsYXNzPSIiPjxnPjxnPgoJPGc+CgkJPHBhdGggZD0iTTE3Ni43OTIsMEg1OS4yMDhDMjYuNTYxLDAsMCwyNi41NjEsMCw1OS4yMDh2MTE3LjU4NEMwLDIwOS40MzksMjYuNTYxLDIzNiw1OS4yMDgsMjM2aDExNy41ODQgICAgQzIwOS40MzksMjM2LDIzNiwyMDkuNDM5LDIzNiwxNzYuNzkyVjU5LjIwOEMyMzYsMjYuNTYxLDIwOS40MzksMCwxNzYuNzkyLDB6IE0xOTYsMTc2Ljc5MmMwLDEwLjU5MS04LjYxNywxOS4yMDgtMTkuMjA4LDE5LjIwOCAgICBINTkuMjA4QzQ4LjYxNywxOTYsNDAsMTg3LjM4Myw0MCwxNzYuNzkyVjU5LjIwOEM0MCw0OC42MTcsNDguNjE3LDQwLDU5LjIwOCw0MGgxMTcuNTg0QzE4Ny4zODMsNDAsMTk2LDQ4LjYxNywxOTYsNTkuMjA4ICAgIFYxNzYuNzkyeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCIgZmlsbD0iI0ZGRkZGRiIvPgoJPC9nPgo8L2c+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNDUyLDBIMzM2Yy0zMy4wODQsMC02MCwyNi45MTYtNjAsNjB2MTE2YzAsMzMuMDg0LDI2LjkxNiw2MCw2MCw2MGgxMTZjMzMuMDg0LDAsNjAtMjYuOTE2LDYwLTYwVjYwICAgIEM1MTIsMjYuOTE2LDQ4NS4wODQsMCw0NTIsMHogTTQ3MiwxNzZjMCwxMS4wMjgtOC45NzIsMjAtMjAsMjBIMzM2Yy0xMS4wMjgsMC0yMC04Ljk3Mi0yMC0yMFY2MGMwLTExLjAyOCw4Ljk3Mi0yMCwyMC0yMGgxMTYgICAgYzExLjAyOCwwLDIwLDguOTcyLDIwLDIwVjE3NnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiNGRkZGRkYiLz4KCTwvZz4KPC9nPjxnPgoJPGc+CgkJPHBhdGggZD0iTTE3Ni43OTIsMjc2SDU5LjIwOEMyNi41NjEsMjc2LDAsMzAyLjU2MSwwLDMzNS4yMDh2MTE3LjU4NEMwLDQ4NS40MzksMjYuNTYxLDUxMiw1OS4yMDgsNTEyaDExNy41ODQgICAgQzIwOS40MzksNTEyLDIzNiw0ODUuNDM5LDIzNiw0NTIuNzkyVjMzNS4yMDhDMjM2LDMwMi41NjEsMjA5LjQzOSwyNzYsMTc2Ljc5MiwyNzZ6IE0xOTYsNDUyLjc5MiAgICBjMCwxMC41OTEtOC42MTcsMTkuMjA4LTE5LjIwOCwxOS4yMDhINTkuMjA4QzQ4LjYxNyw0NzIsNDAsNDYzLjM4Myw0MCw0NTIuNzkyVjMzNS4yMDhDNDAsMzI0LjYxNyw0OC42MTcsMzE2LDU5LjIwOCwzMTZoMTE3LjU4NCAgICBjMTAuNTkxLDAsMTkuMjA4LDguNjE3LDE5LjIwOCwxOS4yMDhWNDUyLjc5MnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiIGZpbGw9IiNGRkZGRkYiLz4KCTwvZz4KPC9nPjxnPgoJPGc+CgkJPHBhdGggZD0iTTQ1MiwyNzZIMzM2Yy0zMy4wODQsMC02MCwyNi45MTYtNjAsNjB2MTE2YzAsMzMuMDg0LDI2LjkxNiw2MCw2MCw2MGgxMTZjMzMuMDg0LDAsNjAtMjYuOTE2LDYwLTYwVjMzNiAgICBDNTEyLDMwMi45MTYsNDg1LjA4NCwyNzYsNDUyLDI3NnogTTQ3Miw0NTJjMCwxMS4wMjgtOC45NzIsMjAtMjAsMjBIMzM2Yy0xMS4wMjgsMC0yMC04Ljk3Mi0yMC0yMFYzMzZjMC0xMS4wMjgsOC45NzItMjAsMjAtMjAgICAgaDExNmMxMS4wMjgsMCwyMCw4Ljk3MiwyMCwyMFY0NTJ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBmaWxsPSIjRkZGRkZGIi8+Cgk8L2c+CjwvZz48L2c+IDwvc3ZnPgo=") !important;
    }

    .navbar-nav {
        .dropdown-menu-arrow {
            border-radius: 0px;
            background: $main_black;
            box-shadow: 5px 3px 3px rgba(0,0,0,.8);
            .dropdown-item {
                color: $white_color!important;

                &:hover {
                    background: $secondary_black;
                }
            }
        }
        .nav-item {
            margin-right: 30px;
            position: relative;
            transition: .2s;
            &:hover {
                background: $secondary_black;
            }

            .nav-link {
                font-weight: 700 !important;
                color: $white_color!important;
            }
        }
    }
}

// Home Banner
.home-banner {
    height: 100vh;
    color: $white_color!important;

    h1.title {
        letter-spacing: 1rem;
        margin-top: -3rem;
    }
}

#services {
    display: flex;

    .service-title {
        opacity: .5;
        text-transform: uppercase;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .card {
        border: 0px !important;
        border-radius: 0px !important;
        transition: .2s;
        margin-right: 2rem;
        cursor: pointer;
        background: transparent !important;

        .service-icon,
        .service-name,
        .service-description {
            opacity: .7;
            transition: .2s;
        }

        &:hover {
            box-shadow: 3px 3px 0px $main-black,
                -3px -3px 0px $main-black;

            .service-icon,
            .service-name,
            .service-description {
                opacity: 1;
            }
        }
    }
}

// Footer
.page-footer {
    background-color: $main_black;
    color: $white_color;

    .list-unstyled.link {
        li {
            position: relative;
            transition: .4s;
            margin-top: 5px;
            font-weight: bold;

            a {
                color: $white_color;
                text-decoration: none;
            }

            &::before {
                content: '';
                height: 8px;
                width: 8px;
                background: #fff;
                position: absolute;
                border-radius: 50%;
                top: 30%;
                bottom: 50%;
                opacity: 0;
                transition: .4s;
            }

            &:hover {
                &::before {
                    opacity: 1;
                    margin-left: -20px;
                }
            }
        }

    }

    .list-inline-item {

        a {
            font-size: 1.5rem;
            cursor: pointer;

            &:hover {
                color: $secondary_black;
            }
        }
    }

    .footer-copyright {
        background-color: $secondary_black;
        color: $white_color;
    }
    
}

// Quotes
#quotes {
    .card {
        border: 0px!important;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        transition: .3s;
        cursor: pointer;
        position: relative;

        .overlay {
            position: absolute;
            z-index: 2!important;
            width: 100%;
            height: 100%;
            background: $white_color;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0px!important;
            bottom: 0px!important;
            left: 0px!important;
            opacity: 0;
            transition: .4s;
            border-radius: 3px;
            text-align: center;
            h1 {
                font-size: 2rem;
            }
        }

        &:hover {
            box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
            .overlay {
                opacity: 1;
            }
        }

        
    }
}

#gallery {
    .card {
        border: 0px!important;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        transition: .3s;
        cursor: pointer;
        position: relative;

        img {
            border-radius: 3px;
        }
    }
    .card-columns {
        @include media-breakpoint-only(lg) {
            column-count: 3;
        }
        @include media-breakpoint-only(xl) {
            column-count: 4;
        }
    }
}

.about {
    .about-make {
        a {
            transition: .4s;
            &:hover {
                font-weight: bold;
                text-decoration: none;
                h1 {
                    &::before {
                        width: 100%;
                    }
                }
            }
            h1 {
                position: relative;
                display: inline;
                &::before {
                    content: '';
                    position: absolute;
                    height: 5px;
                    width: 0%;
                    bottom: -2px;
                    background: $white_color;
                    transition: .4s;
                }
            }
        }
    }
}

#home {
    min-height: 100vh;
    .menu {
        min-height: 30vh;
    }
    .middle-menu {
        @media(min-width: 768px) {
            border-left: 2px solid $white_color;
            border-right: 2px solid $white_color;
        }
    }
}
